<%- include('_header'); -%>
    <div class="container">
        <h3 style="color: #ff4c68; font-weight: 600; text-decoration: underline;">Transaction History</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Category</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Note</th>
                    <th scope="col">Recipt</th>
                    <th scope="col">Date</th>

                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Credit</td>
                    <td>1025</td>
                    <td>Gift</td>
                    <td>Cash</td>
                    <td>Brothers return gift</td>
                    <td>img</td>
                    <td>10th oct, 2021 time: 9:36</td>
                </tr> -->
                <%for(var i = 0; i < transactions.length;i++){%>
                    <%if(transactions[i].userid == User._id){%>
                <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><%=transactions[i].flow%></td>
                    <td><%=transactions[i].amount%></td>
                    <td><%=transactions[i].category%></td>
                    <td><%=transactions[i].mode%></td>
                    <td><%=transactions[i].note%></td>
                    <td><%=User.username%></td>
                    <td><%=transactions[i].createdAt%></td>
                </tr>
                
                <%}%>
                <%}%>
                
            </tbody>
        </table>
    </div>

    <%- include('_footer'); -%>